<div class="card box-form-ptc" style="margin: 10px; padding:10px;">
    <div class="card-title">
      <h4>Expediente laboral</h4>
    </div>
    <form id="frmExpediente">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4" class="col-form-label">Código</label>
          <input type="text" class="form-control" id="txtCodigo"  disabled value="{{usu.codigo}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4" class="col-form-label">Apellido Paterno</label>
          <input type="text" class="form-control" id="txtApPat" disabled value="{{usu.appat}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4" class="col-form-label">Apellido Materno</label>
          <input type="text" class="form-control" id="txtApMat" disabled value="{{usu.apmat}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4" class="col-form-label">Nombre(s)</label>
          <input type="text" class="form-control" id="txtNombre" disabled value="{{usu.nombre}}">
        </div>
      </div>        

      <div class="form-group">
        <label for="inputAddress2" class="col-form-label">Correo electrónico</label>
        <input type="text" class="form-control" id="mail" value="{{usu.mail}}">
      </div>
          

      <div class="form-group " style="padding-left:0px;">
        <label for="inputState" class="col-form-label">Nombramiento</label>
          <select class="form-control" id="plaza">
            <option selected>Seleccione</option>
            {% for plaza in plazas %}
              <option value="{{ plaza.plaza_pla }}"
                      {% if usu.categoria == plaza.plaza_pla %}
                        selected
                      {% endif %}
              >{{ plaza.plaza_pla }}</option>

            {% endfor %}
          </select>
      </div>
          

               
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState" class="col-form-label">Departamento de adscripción</label>
            <select class="form-control" id="depto">
              <option selected>Seleccione</option>
            {% for depto in deptos %}
              <option value="{{ depto.nombre_dep }}"
                      {% if usu.depto == depto.nombre_dep %}
                        selected
                      {% endif %}
              >{{ depto.nombre_dep }}</option>

            {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState" class="col-form-label">Académia de adscripción</label>
            <select class="form-control" id="academia">
              <option selected>Seleccione</option>
            {% for academia in academias %}
              <option value="{{ academia.nombre_aca }}"
                      {% if usu.academia == academia.nombre_aca %}
                        selected
                      {% endif %}
              >{{ academia.nombre_aca }}</option>

            {% endfor %}
             
            </select>
        </div>
      </div>        
        <button type="button" class="btn btn-dark" id="cmdUpdExp">Actualizar</button>
    </form>
</div>

{% load static %}
<script src="{% static 'ptc/js/page/expediente.js' %}"></script>
<script>iniExpediente();</script>