<div class="card box-form-ptc" style="margin: 10px; padding:10px;">
    <div class="card-title">
      <h4>Expediente laboral</h4>
    </div>
    <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4" class="col-form-label">Código</label>
          <input type="text" class="form-control" id="txtCodigo"  disabled value="{{usu.codigo}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4" class="col-form-label">Apellido Paterno</label>
          <input type="text" class="form-control" id="txtApPat" disabled value="{{usu.appat}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4" class="col-form-label">Apellido Materno</label>
          <input type="text" class="form-control" id="txtApMat" disabled value="{{usu.apmat}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4" class="col-form-label">Nombre(s)</label>
          <input type="text" class="form-control" id="txtNombre" disabled value="{{usu.nombre}}">
        </div>
      </div>        

      <div class="form-group">
        <label for="inputAddress2" class="col-form-label">Correo electrónico</label>
        <input type="text" class="form-control" id="inputAddress2" value="{{usu.mail}}">
      </div>
          

      <div class="form-group col-md-4" style="padding-left:0px;">
        <label for="inputState" class="col-form-label">Nombramiento</label>
          <select class="form-control">
            <option selected>Seleccione</option>
            {% for plaza in plazas %}
              <option value="{{ plaza.id_pla }}"
                      {% if usu.categoria == plaza.plaza_pla %}
                        selected
                      {% endif %}
              >{{ plaza.plaza_pla }}</option>

            {% endfor %}
          </select>
      </div>
          

     
        
<div class="form-row">
    <!--
        <div class="form-group col-md-6">
          <label for="inputState" class="col-form-label">Antigüedad</label>
            <select class="form-control" >
                <option selected>Seleccione</option>
                <?php 
                    for($x=0;$x < 51; $x++){
                        echo '<option>'.$x.'</option>';
                    }
                ?>
            </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState" class="col-form-label">División de adscripción</label>
            <select class="form-control">
              <option selected>Seleccione</option>
              <option value="1">División de Estudios Científicos y Tecnológicos</option>
              <option value="2">División de Estudios Económicos y Sociales</option>
              <option value="2">División de Estudios de la Salud</option>
             
            </select>
        </div> -->
      </div>                
        
        
               
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState" class="col-form-label">Departamento de adscripción</label>
            <select class="form-control">
              <option selected>Seleccione</option>
              <option value="1">Departamento de Ciencias Computacionales e Ingenierías</option>
              <option value="2">Departamento de Ciencias Naturales y Exactas</option>
              <option value="2">Departamento de Ciencias Económicas y Administrativas</option>
              <option value="1">Departamento de Ciencias Sociales y Humanidades</option>
              <option value="2">Departamento de Ciencias de la Salud</option>
              <option value="2">Departamento de Ciencias del Comportamiento</option>              
            </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState" class="col-form-label">Académia de adscripción</label>
            <select class="form-control">
              <option selected>Seleccione</option>
              <?php
              $data = array();
              $data[]='Academia de Auditoría e Impuestos';
                $data[]='Academia de Administración';
                $data[]='Academia de Contabilidad';
                $data[]='Academia de Desarrollo de Negocios';
                $data[]='Academia de Economía';
                $data[]='Academia de Finanzas';
                $data[]='Academia de Mercadotecnia';
                $data[]='Academia de Turismo';
                $data[]='Academia de Educación';
                $data[]='Academia de Derecho Civil';
                $data[]='Academia de Metodología';
                $data[]='Academia de Trabajo Social';
                $data[]='Academia de Derecho Mercantil';
                $data[]='Academia de Derecho Administrativo';
                $data[]='Academia de Comunicación';
                $data[]='Academia de Idiomas';
                $data[]='Academia de Sociologia, Historia y Filosofia';
                $data[]='Academia de Derecho Penal';
                $data[]='Academia Ambiental';
                $data[]='Academia de Álgebra         ';
                $data[]='Academia de Estadística y Aplicaciones     ';
                $data[]='Academia de  Matemáticas Avanzadas';
                $data[]='Academia de Física          ';
                $data[]='Academia de Ciencias Computacionales';
                $data[]='Academia de Mecánica';
                $data[]='Academia de Electrónica';
                $data[]='Academia de Instrumentación y Control ';
                $data[]='Academia Informática Aplicada ';
                $data[]='Academia de Comportamiento social y humano';
                $data[]='Academia de Salud mental';
                $data[]='Academia de Fundamentos básicos del comportamiento';
                $data[]='Academia de Psicología y procesos psicoeducativos';
                $data[]='Academia Salud y Bienestar';
                $data[]='Academia Neurociencias';
                for($x=0; $x < sizeof($data); $x++){
                    echo '<option>'.$data[$x].'</option>';
                }

              
              ?>
             
            </select>
        </div>
      </div>        
        <button type="button" class="btn btn-dark">Actualizar</button>
    </form>
</div>    