{%load static%}
<div>
    <form id="frmMatDid" enctype="multipart/form-data" method="post">
    {% csrf_token %}
        <div class="form-row">

          <div class="form-group col-md-12">
            <label for="slcTTrabajo">Tipo de trabajo</label>
            <select class="form-control" id="slcTTrabajo" name="slcTTrabajo" required>
                    <option value="" selected>Seleccione...</option>
                    <option value="Apuntes de los cursos curriculares">Apuntes de los cursos curriculares</option>
                    <option value="Compilación o colección">Compilación o colección</option>
                    <option value="Cuaderno de trabajo">Cuaderno de trabajo</option>
                    <option value="Antología o selección">Antología o selección</option>
                    <option value="Digesto">Digesto</option>
                    <option value="Manual de prácticas o de laboratorio">Manual de prácticas o de laboratorio</option>
                    <option value="Guía académica para actividades fuera del aula que apoyen los cursos">Guía académica para actividades fuera del aula que apoyen los cursos</option>
                    <option value="Libros de texto">Libros de texto</option>
                    <option value="Material audiovisual: audiocassettes">Material audiovisual: audiocassettes</option>
                    <option value="Material audiovisual: dioramas/diaporamas">Material audiovisual: dioramas/diaporamas</option>
                    <option value="Material audiovisual: video">Material audiovisual: video</option>
                    <option value="Material audiovisual: cine">Material audiovisual: cine</option>
                    <option value="Material audiovisual: diapositivas y cuerpos opacos">Material audiovisual: diapositivas y cuerpos opacos</option>
                    <option value="Material audiovisual: rotafolio y otros">Material audiovisual: rotafolio y otros</option>
                    <option value="Equipos educativos: de laboratorio, deportivos, modelos tridimensionales y otros">Equipos educativos: de laboratorio, deportivos, modelos tridimensionales y otros</option>
                    <option value="Paquetes de cómputo para la enseñanza (con registro)">Paquetes de cómputo para la enseñanza (con registro)</option>
                    <option value="Elaboración de insumos universitarios para apoyo de otros académicos">Elaboración de insumos universitarios para apoyo de otros académicos</option>
                    <option value="Traducciones para apoyo didáctico: De artículos">Traducciones para apoyo didáctico: De artículos</option>
                    <option value="Traducciones para apoyo didáctico: De libros de texto">Traducciones para apoyo didáctico: De libros de texto</option>
                    <option value="Traducciones para apoyo didáctico: De material audiovisual">Traducciones para apoyo didáctico: De material audiovisual</option>
                    <option value="De manual, cuaderno de trabajo, compilación y otros">De manual, cuaderno de trabajo, compilación y otros</option>
            </select>
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="matTitulo" class="col-form-label">Titulo del trabajo</label>
                <input type="text" class="form-control" name="matTitulo" id="matTitulo" placeholder="" required>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group text-left" >
                <label for="fileMatDid">Evidencia </label>
                <label class="custom-file">
                  <input type="file" id="fileMatDid" name="fileMatDid" class="custom-file-input" required>
                  <span class="custom-file-control"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary" data-toggle="modal">Guardar</button>
        </div>
        <div class="form-row" style="overflow:auto;">
             <table class="table" id="tablaMatDidactico">
              <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>Tipo de trabajo</th>
                    <th>Títutlo</th>
                    <th>Evidencia</th>
                    <th>Acción</th>
                </tr>
              </thead>
              <tbody>
              {% for material in materiales%}
                <tr>
                    <th>{{material.id_mad}}</th>
                    <td>{{material.tipo_mad}}</td>
                    <td>{{material.titulo_mad}}</td>
                    <td><a href="../media/{{material.evidencia_mad}}" target="_blank">
                        <img src="{%static 'ptc/img/open-iconic-master/png/document-3x.png'%}" title="{{material.titulo_mad}}" class="btnDel">
                    </a></td>
                    <td><img src="{%static 'ptc/img/open-iconic-master/png/trash-3x.png'%}" evid="{{material.id_mad}}" class="delEvidMatDid btnDel" title="Eliminar material didáctico"></td>
                </tr>
              {%endfor%}
              </tbody>
            </table>
        </div>
    </form>
</div>
